<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/exam-info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div id="accordion" class="container mt-5">
        <div class="card">
          <div class="card-header" id="heading-1">
            <h5 class="mb-0">
              <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                Question 1
              </a>
            </h5>
          </div>
          <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
            <div class="card-body">
              <div id="accordion-1">
                <div class="card">
                  <div class="card-header" id="heading-1-2">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-2">
                        A
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1-1" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                    <div class="card-body">
                      <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Öğrenci 1 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 2 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 3 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 4 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 5 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 6 ve cevap ile ilgili bilgileri</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                 
            </div>
          </div>
          <div id="collapse-1" class="collapse show" data-parent="#accordion" aria-labelledby="heading-1">
            <div class="card-body">
              <div id="accordion-1">
                <div class="card">
                  <div class="card-header" id="heading-1-2">
                    <h5 class="mb-0">
                      <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                        B
                      </a>
                    </h5>
                  </div>
                  <div id="collapse-1-2" class="collapse" data-parent="#accordion-1" aria-labelledby="heading-1-2">
                    <div class="card-body">
                      <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Öğrenci 1 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 2 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 3 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 4 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 5 ve cevap ile ilgili bilgileri</td>
                            </tr>
                            <tr>
                                <td>Öğrenci 6 ve cevap ile ilgili bilgileri</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
                 
            </div>
          </div>
        </div>
      </div>
</body>
</html>