<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div style="width: 40%;" class="border-bottom border-dark">
        <div class="form-group">
            <label class="text-dark" for="test">Test:</label>
            <input type="text" name="test" id="test" class="form-control">
        </div>
    </div>
    <div style="width: 40%;" class="border-bottom border-dark">
        <div class="form-group">
            <label class="text-dark" for="test">Test:</label>
            <input type="text" name="test" id="test" class="form-control">
        </div>
    </div>
</body>
</html>